Repository tucared/personal-expense-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-dev-prod-files-sync, lint-notion-ty, lint-gsheets-ty, lint-data-explorer-ty, lint-pipeline-runner-ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: detect-private-key
        exclude: ^cloud-function/secret-sample/sa-key\.json$
      - id: check-added-large-files
      - id: check-json
        name: check-mcp-json
        files: ^\.mcp\.json$
  - repo: https://github.com/tofuutils/pre-commit-opentofu
    rev: v2.2.1
    hooks:
      - id: tofu_fmt
      - id: tofu_validate
        args:
          - --hook-config=--retry-once-with-cleanup=true
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.8
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.8
    hooks:
      - id: uv-lock
        name: uv-lock (data_explorer)
        files: opentofu/modules/data_explorer/src/pyproject.toml
        args: [--project, opentofu/modules/data_explorer/src/]
      - id: uv-lock
        name: uv-lock (gsheets_pipeline)
        files: opentofu/modules/gsheets_pipeline/src/pyproject.toml
        args: [--project, opentofu/modules/gsheets_pipeline/src/]
      - id: uv-export
        name: uv-export (gsheets_pipeline)
        files: opentofu/modules/gsheets_pipeline/src/pyproject.toml
        args: [--project, opentofu/modules/gsheets_pipeline/src/, "--frozen", "--output-file=opentofu/modules/gsheets_pipeline/src/requirements.txt"]
      - id: uv-lock
        name: uv-lock (notion_pipeline)
        files: opentofu/modules/notion_pipeline/src/pyproject.toml
        args: [--project, opentofu/modules/notion_pipeline/src/]
      - id: uv-export
        name: uv-export (notion_pipeline)
        files: opentofu/modules/notion_pipeline/src/pyproject.toml
        args: [--project, opentofu/modules/notion_pipeline/src/, "--frozen", "--output-file=opentofu/modules/notion_pipeline/src/requirements.txt"]
      - id: uv-lock
        name: uv-lock (pipeline_runner)
        files: mcp-servers/pipeline-runner/pyproject.toml
        args: [--project, mcp-servers/pipeline-runner/]
  - repo: local
    hooks:
      - id: check-dev-prod-files-sync
        name: Check dev and prod files are identical
        entry: sh
        args: ['-c', 'cmp -s terragrunt/dev/env_vars.example.yaml terragrunt/prod/env_vars.example.yaml && cmp -s terragrunt/dev/terragrunt.hcl terragrunt/prod/terragrunt.hcl || (echo "Files differ between dev and prod directories" && exit 1)']
        language: system
        files: 'terragrunt/(dev|prod)/(env_vars\.example\.yaml|terragrunt\.hcl)$'
        pass_filenames: false
      - id: lint-notion-ty
        name: Type check notion pipeline
        entry: uv run --directory=opentofu/modules/notion_pipeline/src ty check .
        language: system
        files: '^opentofu/modules/notion_pipeline/src/'
        pass_filenames: false
      - id: lint-gsheets-ty
        name: Type check gsheets pipeline
        entry: uv run --directory=opentofu/modules/gsheets_pipeline/src ty check .
        language: system
        files: '^opentofu/modules/gsheets_pipeline/src/'
        pass_filenames: false
      - id: lint-data-explorer-ty
        name: Type check data explorer
        entry: uv run --directory=opentofu/modules/data_explorer/src ty check .
        language: system
        files: '^opentofu/modules/data_explorer/src/'
        pass_filenames: false
      - id: lint-pipeline-runner-ty
        name: Type check pipeline runner
        entry: uv run --directory=mcp-servers/pipeline-runner ty check .
        language: system
        files: '^mcp-servers/pipeline-runner/'
        pass_filenames: false

feat(makefile): add lint-fix target
  Makefile
Due: none

feat(ci): add ci for deps, linting and formatting
  .github/workflows/ci.yml
Due: none

ci: testing formatting command
  opentofu/modules/data_explorer/src/app.py
Due: lint-data-explorer-ty

ci: reverting to proper formatting
  opentofu/modules/data_explorer/src/app.py
Due: lint-data-explorer-ty

ci: remove useless autofix linting
  .github/workflows/ci.yml
Due: none

refacto: apply precommit on github ci workflow file
  .github/workflows/ci.yml
Due: none

refacto: apply formatting to all markdown files
  CLAUDE.md
  README.md
  docs/README.md
  mcp-servers/pipeline-runner/README.md
  opentofu/modules/base_pipeline/README.md
  opentofu/modules/bigquery_external_tables/README.md
  opentofu/modules/data_explorer/README.md
  opentofu/modules/gsheets_pipeline/README.md
  opentofu/modules/gsheets_pipeline/src/google_sheets/README.md
  opentofu/modules/notion_pipeline/README.md
  opentofu/modules/notion_pipeline/src/notion/README.md
Due: lint-notion-ty, lint-gsheets-ty, lint-pipeline-runner-ty

feat(makefile): added format-markdown target
  .markdownlint-cli2.yaml
  Makefile
Due: none

feat(precommmit): add markdownlint-cli2 hook
  .pre-commit-config.yaml
Due: none

ia: add post tool hook for markdown formatting
  .claude/settings.json
Due: none

ci: change custom commands to precommit run
  .github/workflows/ci.yml
Due: none

feat(streamlit): add table of detailed expenses
  opentofu/modules/data_explorer/src/duckdb_init.sql
  opentofu/modules/data_explorer/src/reports/expense_tracker.py
Due: lint-data-explorer-ty
